<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="@string/version_name"
    package="com.example.stu_nwad.syllabus" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.stu_nwad.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.stu_nwad.activities.SyllabusActivity"
            android:label="@string/title_activity_syllabus" >
        </activity>
        <activity
            android:name="com.example.stu_nwad.activities.MyTabActivity"
            android:label="具体信息"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.stu_nwad.activities.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="com.example.stu_nwad.activities.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.example.stu_nwad.activities.UpdateActivity"
            android:label="@string/title_activity_update" >
        </activity>
    </application>

</manifest>
